<div class="container">
  <div class="productos">

    <h2>Carrito de compras</h2>

    <div class="column">
      <div id="listadoCarritos">
        <h3 style="display:" hidden="userID">{{userCart._id}}</h3>
        <br />
        <div>
          {{#each userCart.products}}
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Producto: <span>{{this._id}}</span></h5>
                <img src={{product.img}} alt="Producto" style="width: 20%;" />
                <h6 class="card-subtitle mb-2 text-muted">Cantidad:
                  {{this.quantity}}</h6>
                <button
                  onclick="eliminar(this)"
                  data-id="{{this.id}}"
                  class="btn btn-danger"
                >Eliminar</button>
              </div>
            </div>
          {{/each}}
        </div>
        <button
          onclick="terminarCompra()"
          class="btn btn-primary"
          id="btnTerminarCompra"
        >TERMINAR COMPRA</button>
      </div>

      <br />
    </div>
  </div>
</div>
<script src="/js/comprar.js"></script>