<div class="container">
  <div class="row">
    {{#each allProducts}}
      <div class="col-md-4">
        <div class="card border-0 mb-3">
          <a href="/products/{{this._id}}" class="text-decoration-none">
            <img
              src="{{this.thumbnails}}"
              class="img-fluid"
              alt="{{this.title}}"
            />
          </a>
          <div class="card-body text-center">
            <p class="card-text text-dark">{{this.title}}<br /><span
                class="text-danger"
              >${{this.price}}</span></p>
            <p><button
                class="btn btn-dark"
                onclick="agregarProductoAlCarrito('{{product._id}}')"
              >Agregar (+)</button></p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="row my-5">
    <div class="col">
      <nav>
        <ul class="pagination justify-content-center">
          {{#if products.hasPrevPage}}
            <li class="page-item">
              <a class="page-link" href="{{products.prevLink}}"></a>
            </li>
          {{/if}}
          {{#if products.hasPrevPage}}
            <li class="page-item">
              <a
                class="page-link"
                href="{{products.prevLink}}"
              >{{products.prevPage}}</a>
            </li>
          {{/if}}
          <li class="page-item">
            <a class="page-link">{{products.page}}</a>
          </li>
          {{#if products.hasNextPage}}
            <li class="page-item">
              <a
                class="page-link"
                href="{{products.nextLink}}"
              >{{products.nextPage}}</a>
            </li>
          {{/if}}
          {{#if products.hasNextPage}}
            <li class="page-item">
              <a class="page-link" href="{{products.nextLink}}">>></a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </div>
</div>

<script src="js/products.js"></script>