<div class="container">
  <div class="productos">
    <div class="mb-4">
      <h3>{{user.first_name}} {{user.last_name}}</h3>
      <h5 id="userID">{{user.cart}}</h5>
    </div>

    <div>
      <h2>TODOS LOS PRODUCTOS</h2>
      <div class="row">
        {{#each Products.payload}}
          <div class="col-md-3 mb-4">
            <div
              class="card h-80 d-flex align-items-center justify-content-center"
            >

              <img src="{{this.img}}" alt="Producto" style="width: 50%;" />
              <div class="card-body">
                <h3 class="card-title">{{this.title}}</h3>
                <h4
                  class="card-subtitle mb-2 text-muted"
                >{{this.description}}</h4>
                <hr />
                <p>Precio: {{this.price}}</p>
                <p>ID: {{this.id}}</p>
                <p>Stock: {{this.stock}}</p>
                <button
                  class="btn btn-primary"
                  onclick="agregar(this)"
                  data-id="{{this.id}}"
                >Agregar al carrito</button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="col">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {{#if Products.hasPrevPage}}
          <li class="page-item">
            <a class="page-link" href="{{Products.prevLink}}">Anterior</a>
          </li>
        {{/if}}

        {{#if Products.hasPrevPage}}
          <li class="page-item">
            <a
              class="page-link"
              href="{{Products.prevLink}}"
            >{{Products.prevPage}}</a>
          </li>
        {{/if}}

        <li class="page-item">
          <a class="page-link">{{Products.page}}</a>
        </li>

        {{#if Products.hasNextPage}}
          <li class="page-item">
            <a
              class="page-link"
              href="{{Products.nextLink}}"
            >{{Products.nextPage}}</a>
          </li>
        {{/if}}

        {{#if Products.hasNextPage}}
          <li class="page-item">
            <a class="page-link" href="{{Products.nextLink}}">Siguiente</a>
          </li>
        {{/if}}
      </ul>
    </nav>
  </div>
</div>

<script src="/js/products.js"></script>