<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-4">Detalles del Usuario</h2>
      <div class="card">
        <div class="card-body">
          <p class="card-text"><strong>User ID:</strong> {{user._id}}</p>
          <p class="card-text"><strong>First Name:</strong>
            {{user.first_name}}</p>
          <p class="card-text"><strong>Last Name:</strong>
            {{user.last_name}}</p>
          <p class="card-text"><strong>Email:</strong> {{user.email}}</p>
          <p class="card-text"><strong>Role:</strong> {{user.role}}</p>
          <p class="card-text"><strong>Age:</strong> {{user.age}}</p>
          <p class="card-text"><strong>Password:</strong> {{user.password}}</p>
          <a
            href="javascript:history.back()"
            class="btn btn-primary mt-3"
          >Volver</a>
        </div>
      </div>
    </div>
  </div>
</div>